In [2]:
import sqlite3
import pandas as pd

# Connect to your database
conn = sqlite3.connect('/Users/aj/stat-arb-engine/data/pairs_database.db')

# 1. See what tables (pairs) are in the database
print("=== TABLES IN DATABASE ===")
tables_query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql(tables_query, conn)
print(f"Total pairs in database: {len(tables)}")
print("First 10 pair names:")
print(tables.head(10))

if len(tables) > 0:
    # 2. Load a specific pair to check the data
    pair_name = tables.iloc[0]['name']  # Get first pair name
    print(f"\n=== LOADING PAIR: {pair_name} ===")

    # Load the pair data without specifying index first
    df = pd.read_sql(f'SELECT * FROM {pair_name}', conn)
    print("Columns in database:", df.columns.tolist())
    
    # Handle the date column properly
    if 'Date' in df.columns:
        df['Date'] = pd.to_datetime(df['Date'])
        df.set_index('Date', inplace=True)
    elif 'index' in df.columns:  # Sometimes pandas saves index as 'index'
        df['index'] = pd.to_datetime(df['index'])
        df.set_index('index', inplace=True)
    else:
        print("No date column found, using default index")

    print(f"Shape: {df.shape}")
    if hasattr(df.index, 'min'):
        print(f"Date range: {df.index.min()} to {df.index.max()}")
    print("\nColumns:")
    print(df.columns.tolist())

    print("\n=== DATA SAMPLE ===")
    print("First 5 rows:")
    print(df.head())

    print("\nLast 5 rows:")
    print(df.tail())

    print("\n=== DATA QUALITY CHECK ===")
    print("Non-null counts:")
    key_cols = ['coint_p_value', 'slope', 'r_squared', 'z_residual', 'curr_residual']
    for col in key_cols:
        if col in df.columns:
            non_null = df[col].notna().sum()
            print(f"{col}: {non_null}/{len(df)} ({non_null/len(df)*100:.1f}%)")

    print("\nBasic statistics:")
    if 'z_residual' in df.columns:
        print(f"Z-residual range: {df['z_residual'].min():.3f} to {df['z_residual'].max():.3f}")
    if 'r_squared' in df.columns:
        print(f"R-squared range: {df['r_squared'].min():.3f} to {df['r_squared'].max():.3f}")
    if 'coint_p_value' in df.columns:
        print(f"Cointegration p-value range: {df['coint_p_value'].min():.3f} to {df['coint_p_value'].max():.3f}")

    # 3. Check a few more pairs
    print("\n=== CHECKING MULTIPLE PAIRS ===")
    for i in range(min(3, len(tables))):
        pair_name = tables.iloc[i]['name']
        try:
            test_df = pd.read_sql(f'SELECT * FROM {pair_name} LIMIT 5', conn)
            print(f"{pair_name}: {len(test_df)} rows loaded successfully")
        except Exception as e:
            print(f"{pair_name}: ERROR - {e}")
else:
    print("No tables found in database!")

conn.close()
print("\nDatabase connection closed.")

=== TABLES IN DATABASE ===
Total pairs in database: 26754
First 10 pair names:
            name
0   pair_MMM_AOS
1  pair_MMM_ALLE
2   pair_MMM_AME
3   pair_MMM_ADP
4  pair_MMM_AXON
5    pair_MMM_BA
6    pair_MMM_BR
7  pair_MMM_BLDR
8  pair_MMM_CHRW
9  pair_MMM_CARR

=== LOADING PAIR: pair_MMM_AOS ===
Columns in database: ['index', 'MMM_price', 'AOS_price', 'MMM_sector', 'AOS_sector', 'MMM_ln_price', 'AOS_ln_price', 'nextErn1', 'nextErn2', 'count', 'coint_p_value', 'slope', 'y_intercept', 'r_squared', 'y_implied', 'curr_residual', 'z_residual', 'ratio', 'logRatio', 'avg_ratio', 'std_dev', 'z_ratio', 'Mkt_cap1', 'Mkt_cap2', '30D_Turnover1', '30D_Turnover2']
Shape: (2515, 25)
Date range: 2015-06-16 00:00:00 to 2025-06-13 00:00:00

Columns:
['MMM_price', 'AOS_price', 'MMM_sector', 'AOS_sector', 'MMM_ln_price', 'AOS_ln_price', 'nextErn1', 'nextErn2', 'count', 'coint_p_value', 'slope', 'y_intercept', 'r_squared', 'y_implied', 'curr_residual', 'z_residual', 'ratio', 'logRatio', 'avg_ratio', 'std_dev', 'z_ratio', 'Mkt_cap1', 'Mkt_cap2', '30D_Turnover1', '30D_Turnover2']

=== DATA SAMPLE ===
First 5 rows:
            MMM_price  AOS_price   MMM_sector   AOS_sector  MMM_ln_price  \
index
2015-06-16    130.837     36.615  Industrials  Industrials      4.873952
2015-06-17    131.222     36.680  Industrials  Industrials      4.876891
2015-06-18    133.454     36.835  Industrials  Industrials      4.893757
2015-06-19    132.894     36.825  Industrials  Industrials      4.889552
2015-06-22    133.504     36.970  Industrials  Industrials      4.894131

            AOS_ln_price             nextErn1             nextErn2  count  \
index
2015-06-16      3.600458  2015-07-23 00:00:00  2015-07-23 00:00:00      1
2015-06-17      3.602232  2015-07-23 00:00:00  2015-07-23 00:00:00      2
2015-06-18      3.606448  2015-07-23 00:00:00  2015-07-23 00:00:00      3
2015-06-19      3.606177  2015-07-23 00:00:00  2015-07-23 00:00:00      4
2015-06-22      3.610107  2015-07-23 00:00:00  2015-07-23 00:00:00      5

            coint_p_value  ...  z_residual     ratio  logRatio  avg_ratio  \
index                      ...
2015-06-16            NaN  ...         NaN  3.573317  1.353703        NaN
2015-06-17            NaN  ...         NaN  3.577481  1.353853        NaN
2015-06-18            NaN  ...         NaN  3.623022  1.356946        NaN
2015-06-19            NaN  ...         NaN  3.608798  1.355882        NaN
2015-06-22            NaN  ...         NaN  3.611144  1.355675        NaN

            std_dev  z_ratio     Mkt_cap1   Mkt_cap2  30D_Turnover1  \
index
2015-06-16      NaN      NaN   99268.0236  6532.1522    1454127.633
2015-06-17      NaN      NaN   99559.8205  6543.7482    1457161.067
2015-06-18      NaN      NaN  101253.5110  6571.4004    1472254.367
2015-06-19      NaN      NaN  100828.5025  6569.6164    1515874.733
2015-06-22      NaN      NaN  101291.5714  6595.4845    1484058.167

            30D_Turnover2
index
2015-06-16    614308.2667
2015-06-17    612643.7333
2015-06-18    626648.6667
2015-06-19    653207.3333
2015-06-22    651421.8667

[5 rows x 25 columns]

Last 5 rows:
            MMM_price  AOS_price   MMM_sector   AOS_sector  MMM_ln_price  \
index
2025-06-09    201.696    75.9573  Industrials  Industrials      5.306762
2025-06-10    202.856    77.0235  Industrials  Industrials      5.312496
2025-06-11    205.821    76.6603  Industrials  Industrials      5.327007
2025-06-12    202.451    75.2778  Industrials  Industrials      5.310498
2025-06-13    199.025    74.7623  Industrials  Industrials      5.293430

            AOS_ln_price nextErn1 nextErn2  count  coint_p_value  ...  \
index                                                             ...
2025-06-09      4.330171     None     None   2511       0.914359  ...
2025-06-10      4.344111     None     None   2512       0.580582  ...
2025-06-11      4.339384     None     None   2513       0.528601  ...
2025-06-12      4.321185     None     None   2514       0.618111  ...
2025-06-13      4.314314     None     None   2515       0.574249  ...

            z_residual     ratio  logRatio  avg_ratio   std_dev   z_ratio  \
index
2025-06-09   -0.620743  2.655387  1.225532   1.219570  0.009736  0.612338
2025-06-10   -0.230084  2.633690  1.222919   1.219561  0.009730  0.345174
2025-06-11   -0.637006  2.684845  1.227595   1.219496  0.009693  0.835528
2025-06-12   -0.989501  2.689385  1.228945   1.219484  0.009682  0.977183
2025-06-13   -0.922464  2.662104  1.226946   1.219563  0.009741  0.758013

              Mkt_cap1   Mkt_cap2  30D_Turnover1  30D_Turnover2
index
2025-06-09  77621.8978  9212.9292    3004561.833   1.866400e+06
2025-06-10  78068.5884  9342.2484    3025540.233   1.852634e+06
2025-06-11  79209.5329  9298.1946    3058442.667   1.802068e+06
2025-06-12  77912.5158  9130.5059    3025333.700   1.793175e+06
2025-06-13  76593.9754  9067.9782    3032470.433   1.814514e+06

[5 rows x 25 columns]

=== DATA QUALITY CHECK ===
Non-null counts:
coint_p_value: 2455/2515 (97.6%)
slope: 2455/2515 (97.6%)
r_squared: 2455/2515 (97.6%)
z_residual: 2455/2515 (97.6%)
curr_residual: 2455/2515 (97.6%)

Basic statistics:
Z-residual range: -6.838 to 15.389
R-squared range: 0.000 to 0.946
Cointegration p-value range: 0.000 to 0.994

=== CHECKING MULTIPLE PAIRS ===
pair_MMM_AOS: 5 rows loaded successfully
pair_MMM_ALLE: 5 rows loaded successfully
pair_MMM_AME: 5 rows loaded successfully

Database connection closed.

In [4]:
import sqlite3
import pandas as pd

# Connect to database
conn = sqlite3.connect('/Users/aj/stat-arb-engine/data/pairs_database.db')

# Get first table name
tables_query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql(tables_query, conn)

if len(tables) > 0:
    # Get first pair name
    first_pair = 'pair_MSFT_AAPL'
    print(f"Loading pair: {first_pair}")
    
    # Load the data
    df = pd.read_sql(f'SELECT * FROM {first_pair}', conn)
    
    # Fix the date index
    if 'Date' in df.columns:
        df['Date'] = pd.to_datetime(df['Date'])
        df.set_index('Date', inplace=True)
    elif 'index' in df.columns:
        df['index'] = pd.to_datetime(df['index'])
        df.set_index('index', inplace=True)
    
    print(f"Successfully loaded DataFrame with shape: {df.shape}")
    print(f"Columns: {df.columns.tolist()}")
    
    # Show the DataFrame (this will display it)
    display(df)
    
else:
    print("No pairs found in database!")

conn.close()

Loading pair: pair_MSFT_AAPL
Successfully loaded DataFrame with shape: (2515, 25)
Columns: ['MSFT_price', 'AAPL_price', 'MSFT_sector', 'AAPL_sector', 'MSFT_ln_price', 'AAPL_ln_price', 'nextErn1', 'nextErn2', 'count', 'coint_p_value', 'slope', 'y_intercept', 'r_squared', 'y_implied', 'curr_residual', 'z_residual', 'ratio', 'logRatio', 'avg_ratio', 'std_dev', 'z_ratio', 'Mkt_cap1', 'Mkt_cap2', '30D_Turnover1', '30D_Turnover2']

,MSFT_price,AAPL_price,MSFT_sector,AAPL_sector,MSFT_ln_price,AAPL_ln_price,nextErn1,nextErn2,count,coint_p_value,...,z_residual,ratio,logRatio,avg_ratio,std_dev,z_ratio,Mkt_cap1,Mkt_cap2,30D_Turnover1,30D_Turnover2
index,,,,,,,,,,,,,,,,,,,,,
2015-06-16,45.8300,31.9000,Information Technology,Information Technology,3.824939,3.462606,2015-07-21 00:00:00,2015-07-21 00:00:00,1,NaN,...,NaN,1.436677,1.104642,NaN,NaN,NaN,3.707452e+05,7.351074e+05,1.855604e+07,1.175846e+08
2015-06-17,45.9700,31.8250,Information Technology,Information Technology,3.827989,3.460252,2015-07-21 00:00:00,2015-07-21 00:00:00,2,NaN,...,NaN,1.444462,1.106275,NaN,NaN,NaN,3.718778e+05,7.333791e+05,1.870830e+07,1.151893e+08
2015-06-18,46.7200,31.9700,Information Technology,Information Technology,3.844172,3.464798,2015-07-21 00:00:00,2015-07-21 00:00:00,3,NaN,...,NaN,1.461370,1.109494,NaN,NaN,NaN,3.779450e+05,7.367205e+05,1.884441e+07,1.139592e+08
2015-06-19,46.1000,31.6500,Information Technology,Information Technology,3.830813,3.454738,2015-07-21 00:00:00,2015-07-21 00:00:00,4,NaN,...,NaN,1.456556,1.108858,NaN,NaN,NaN,3.729294e+05,7.293464e+05,2.013738e+07,1.163941e+08
2015-06-22,46.2300,31.9025,Information Technology,Information Technology,3.833629,3.462684,2015-07-21 00:00:00,2015-07-21 00:00:00,5,NaN,...,NaN,1.449103,1.107126,NaN,NaN,NaN,3.739811e+05,7.351650e+05,2.006763e+07,1.156353e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-06-09,545.2021,224.8717,Information Technology,Information Technology,6.301157,5.415530,None,None,2511,0.969914,...,-0.425854,2.424503,1.163535,1.133166,0.019328,1.571229,3.513735e+06,3.008822e+06,2.144731e+07,5.412823e+07
2025-06-10,543.0916,226.2336,Information Technology,Information Technology,6.297278,5.421568,None,None,2512,0.976997,...,-0.286280,2.400579,1.161523,1.133987,0.019557,1.408020,3.500134e+06,3.027044e+06,2.140719e+07,5.465922e+07
2025-06-11,545.0522,221.8913,Information Technology,Information Technology,6.300882,5.402188,None,None,2513,0.973425,...,-0.651633,2.456393,1.166357,1.134758,0.019718,1.602612,3.512769e+06,2.968943e+06,2.145470e+07,5.546463e+07
2025-06-12,552.2600,222.3601,Information Technology,Information Technology,6.314019,5.404298,None,None,2514,0.969259,...,-0.582463,2.483629,1.168333,1.135616,0.019956,1.639433,3.559222e+06,2.975217e+06,2.087102e+07,5.518523e+07
2025-06-13,547.7508,219.2904,Information Technology,Information Technology,6.305820,5.390397,None,None,2515,0.975651,...,-0.825971,2.497833,1.169825,1.136527,0.020183,1.649742,3.530161e+06,2.934143e+06,1.946656e+07,5.498451e+07